<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Diagnosis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/s]tyle.css') }}" type="text/css">
</head>
<style>
    
    .scrollable-container {
      max-height: 300px; 
      overflow-y: auto; 
    }
  </style>
<body>
    <div class="slide">
        <!-- Disease Information Slide -->
        <div class="slide active">
            <h2>Patient Information</h2>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <!-- Similar inputs for Blood Pressure and Cholesterol Level -->
        </div>

        <!-- Symptoms Slide -->
        <div class="slide-container">
            <h2>Symptoms</h2>
            <div class="scrollable-container">
                <form action="/predict" method="post">
            <label>
                <input type="checkbox" name="options[]" value="itching">
                itching
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="skin_rash">
                skin_rash
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="continuous_sneezing">
                continuous_sneezing
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="chills">
                chills
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="joint_pain">
                joint_pain
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="stomach_pain">
                stomach_pain
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="acidity">
                acidity
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="ulcers_on_tongue">
                ulcers_on_tongue
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="vomiting">
                vomiting
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="burning_micturition">
                burning_micturition
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="spotting_urination">
                spotting_urination
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="fatigue">
                fatigue
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="weight_loss">
                weight_loss
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="lethargy">
                lethargy
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="high_fever">
                high_fever
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="breathlessness">
                breathlessness
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="sweating">
                sweating
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="headache">
                headache
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="nausea">
                nausea
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="constipation">
                constipation
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="diarrhoea">
                diarrhoea
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="mild_fever">
                mild_fever
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="fluid_overload">
                fluid_overload
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="swelled_lymph_nodes">
                swelled_lymph_nodes
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="malaise">
                malaise
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="chest_pain">
                chest_pain
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="weakness_in_limbs">
                weakness_in_limbs
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="neck_pain">
                neck_pain
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="dizziness">
                dizziness
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="obesity">
                obesity
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="muscle_weakness">
                muscle_weakness
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="stiff_neck">
                stiff_neck
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="movement_stiffness">
                movement_stiffness
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="loss_of_balance">
                loss_of_balance
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="muscle_pain">
                muscle_pain
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="red_spots_over_body">
                red_spots_over_body
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="family_history">
                family_history
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="mucoid_sputum">
                mucoid_sputum
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="lack_of_concentration">
                lack_of_concentration
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="visual_disturbances">
                visual_disturbances
            </label>
            <br>
            <label>
                <input type="checkbox" name="options[]" value="blood_in_sputum">
                blood_in_sputum
            </label>
            </div>
            <div class="slide">
                <h2>Disease predicted is:</h2>
                <textarea id="pred">{{pred}}</textarea>
                <button class="submit-slide">Submit</button> <!-- Add this line -->
            </div>
    
             </form>
        <!-- Outcome Slide from flask -->
    
</body>

</html>